@import "tailwindcss";

@theme {
    --color-blue-1: #E0E7FF;
    --color-blue-2: #5046E3;
    --color-blue-3: #F1F1FA;
    --color-blue-4: #9594DA;
    --color-gray-1: #BBBBBB;
    --color-gray-2: #999999;
    --color-gray-3: #555555;
    --color-gray-4: #F2F4F7;

    /* Light Mode*/
    --color-primaryBtn-bg: #5046E3;
    --color-primaryBtn-txt: #FFFFFF;
    --color-primaryBtn-hover: #3D3BBF;
    --color-secondaryBtn-bg: #E0E7FF;
    --color-secondaryBtn-txt: #5046E3;
    --color-secondaryBtn-hover: #7F7AC9;
    --color-tertiaryBtn-bg: #5046E3;
    --color-tertiaryBtn-txt: #ffffff;
    --color-tertiaryBtn-hover-bg: #E4E4F5;
    --color-tertiaryBtn-hover-txt: #5046E3;
    --color-tertiaryBtn-nonActive-txt: #000000;

    --color-main-bg: #F2F4F7;
    --color-card-bg: #FFFFFF;
    --color-border: #e5e7eb;

    --color-primary-txt: #1A1A2E;
    --color-secondary-txt: #44445E;
    --color-placeholder-txt: #999999;
    --color-disabled-txt: #bbbbbb;

    --color-alert: #FF9F1C;
    --color-success-msg: #36D399;
    --color-error-msg: #FF5E5E;

    /* Dark Mode*/
    --color-d-primaryBtn-bg: #4C8BF5;
    --color-d-primaryBtn-txt: #FFFFFF;
    --color-d-primaryBtn-hover: #3D72D8;
    --color-d-secondaryBtn-bg: #6C6C6C;
    --color-d-secondaryBtn-txt: #FFFFFF;
    --color-d-secondaryBtn-hover: #5A5A5A;
    --color-d-tertiaryBtn-bg: #5046E3;
    --color-d-tertiaryBtn-txt: #FFFFFF;
    --color-d-tertiaryBtn-hover-bg: #2C2C2C;
    --color-d-tertiaryBtn-hover-txt: #777777;

    --color-d-main-bg: #121212;
    --color-d-card-bg: #1E1E1E;
    --color-d-border: #2C2C2C;

    --color-d-primary-txt: #E4E4E4;
    --color-d-secondary-txt: #B0B0B0;
    --color-d-placeholder-txt: #777777;
    /* Disabled */

    --color-d-alert: #FFEB3B;
    --color-d-success-msg: #4CAF50;
    --color-d-error-msg: #F56C6C;

    --font-poppins: "poppins";

    --spacing: 2px;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}